.heading {
    text-align: center;
    margin:0px;
    height: 100px;
}

.interface {
    text-align: center;
}

.image {
    width: 178px;
    height: 247px;
}

.image-container {
    text-align: center;
}